@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100vw;
  background-color: #fff;
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 190%;
  font-feature-settings: "clig" off, "liga" off;
  overflow-x: hidden;
}

li {
  list-style: none;
}

section {
  margin-top: 120px;
}

.link {
  position: relative;
  color: rgb(117, 116, 116);
  text-decoration: none;
  background: transparent;
  text-shadow: none;
  transition: 0.45s;
}

.link:hover {
  color: #fff;
}

.link:before {
  max-height: 0;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #000;
  content: attr(data-hover);
  -webkit-transition: max-height 0.5s;
  -moz-transition: max-height 0.5s;
  transition: max-height 0.5s;
}

.link:hover::before {
  max-height: 100%;
}

.container {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}

#stroke-svg {
  width: 45%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -2;
}

.header__top {
  width: 100%;
  margin: 0 auto;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 144%;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.nav__item:not(:last-of-type) a {
  padding-right: 30px;
  border-right: 2px solid #ececec;
}

.mobileMenu {
  display: none;
}

.footer {
  position: relative;
  background-color: #000;
  color: #fff;
  overflow: hidden;
}

.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px 90px;
  padding: 30px 0;
}

.footer__about {
  width: 300px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 144%;
}

.footer a {
  color: #fff;
}

.footer a svg {
  color: #000;
}

.footer a.link:hover {
  color: #000;
}

.footer .link::before {
  color: #8cd2ff;
}

.footer__nav {
  height: 150px;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: start;
}

.footer__nav .nav__item:not(:last-of-type) a {
  margin: 0;
  border: 0;
}

a.social__item {
  display: inline-block;
  height: 45px;
  color: #000;
}

.social__item svg {
  margin-right: 15px;
  transition: 0.5s;
}

.social__item:hover svg {
  transform: scale(1.2);
}

.footer__copy {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-top: 15px;
  border-top: 1px solid rgb(140, 204, 255, 0.3);
  font-size: 13px;
  line-height: 144%;
  letter-spacing: 0.26px;
}

.footer__copy div {
  display: flex;
  gap: 30px;
}

.footer__svg-left {
  position: absolute;
  bottom: 10%;
}

.footer__svg-top {
  position: absolute;
  right: 20%;
  top: -10%;
}

.footer__svg-center {
  position: absolute;
  left: 30%;
  top: 10%;
}

.footer__svg-right {
  position: absolute;
  right: 6%;
  bottom: 30%;
}

.mainScreen {
  position: relative;
  overflow: hidden;
}

.mainScreen__container {
  margin-bottom: 240px;
}

.mainScreen__title {
  width: 40%;
  min-width: 300px;
  padding-top: 30px;
  font-size: clamp(24px, 3.5vw, 50px);
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
}

.mainScreen__desc {
  width: 40%;
  min-width: 300px;
}

.mainScreen__img {
  position: absolute;
  right: -15px;
  top: 0;
  width: 48%;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='940' height='638' viewBox='0 0 940 638' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M862.913 531.649C858.364 536.536 853.816 540.726 850.094 545.613C840.583 557.482 831.485 569.351 821.56 580.871C816.184 587.155 810.395 592.74 804.192 597.976C784.756 614.034 761.184 618.922 734.718 614.733C718.59 612.289 706.598 603.911 697.086 593.089C685.094 579.824 678.477 564.114 671.447 548.754C668.966 543.169 666.485 537.932 663.59 531.3C658.628 536.536 653.665 540.725 649.943 545.263C640.019 557.132 631.334 569.351 620.583 580.871C611.898 590.296 601.974 599.721 590.808 607.401C572.613 620.318 551.522 622.063 530.019 613.336C499.831 601.118 475.846 583.663 464.267 555.736C459.305 544.216 453.929 533.046 448.553 521.526C447.726 519.431 446.072 517.686 444.004 514.544C439.041 521.177 434.493 526.762 431.184 533.045C423.741 546.66 417.124 560.623 410.508 574.238C398.515 599.372 379.079 618.573 350.131 631.489C332.763 639.169 315.395 639.518 297.613 635.328C279.004 630.79 264.53 621.016 254.605 607.401C245.508 594.834 238.478 581.219 231.034 567.954C225.245 557.831 220.695 547.009 215.32 536.885C214.079 534.093 212.012 531.999 209.944 528.508C205.809 534.442 201.673 539.678 197.951 544.915C185.545 562.369 172.726 579.474 154.944 593.438C129.718 612.987 100.357 620.318 66.4474 614.733C56.1091 612.987 47.8384 609.147 43.7031 601.467C37.0865 589.249 30.4702 577.03 26.3349 564.463C16.8236 536.187 12.6879 506.864 8.96614 477.54C1.109 412.61 -1.3722 346.981 0.695467 281.701C1.52253 247.839 4.00394 213.978 8.13927 180.465C12.2746 145.556 24.6805 112.045 45.7707 81.6739C55.282 67.7103 66.8613 55.1431 81.7485 45.0195C112.35 24.0742 145.846 20.5833 181.823 34.5468C212.425 46.4159 234.342 65.6151 247.575 91.4477C254.605 105.411 261.222 119.375 268.252 134.037C270.733 130.895 273.628 127.753 275.695 124.611C284.38 112.044 292.65 99.1283 302.162 86.9102C319.116 65.6158 341.447 50.6046 372.049 44.6701C402.65 38.7356 429.117 44.6702 451.861 63.172C465.921 74.3428 476.259 87.9568 486.184 101.92C491.147 108.553 496.109 115.186 501.899 122.866C503.966 119.724 505.62 117.28 507.274 115.186C516.786 100.175 525.47 84.8155 535.395 70.1537C545.733 54.0957 558.552 39.4341 575.507 27.5651C585.846 20.5833 597.011 14.9979 609.417 11.8561C635.47 5.22337 658.214 10.1099 676.823 26.8662C689.643 38.3861 698.327 51.6517 704.944 66.3134C710.733 79.2297 716.109 92.4951 721.898 106.459C723.552 104.713 725.206 103.666 726.447 101.92C733.477 92.844 739.68 83.7679 747.124 75.0406C756.222 64.2189 765.32 52.6995 776.485 43.2741C800.884 22.3287 831.485 19.5357 863.741 27.2156C880.282 31.0556 892.274 41.179 898.891 54.0953C905.508 67.0116 910.056 80.9752 915.432 94.2405C917.086 98.4296 918.74 102.968 920.808 108.902C924.53 103.666 927.838 99.8265 930.319 95.6374C939.004 82.0229 946.861 68.0592 955.958 54.4447C965.47 39.783 976.635 26.5176 992.349 16.045C1025.43 -5.94765 1064.3 -3.85363 1093.25 21.6299C1096.56 24.7717 1100.28 27.5651 1102.76 31.056C1114.34 47.114 1125.51 63.5212 1137.09 79.9284C1141.64 86.5611 1145.77 93.1938 1150.73 100.874C1155.7 94.5901 1160.24 89.7027 1163.97 84.1173C1175.13 68.4083 1185.88 52.3499 1197.46 36.6409C1218.14 8.71374 1262.8 -0.362397 1291.75 4.52485C1307.46 7.31756 1319.45 14.6484 1328.97 25.4702C1341.37 40.1319 1347.16 57.2376 1350.88 74.6921C1357.91 106.808 1357.09 138.924 1356.67 171.39C1354.6 258.313 1326.9 341.046 1296.3 423.082C1280.58 466.02 1261.15 507.562 1235.51 547.009C1224.34 563.765 1212.35 580.172 1195.39 593.438C1185.06 601.816 1173.48 608.448 1158.18 608.099C1147.84 608.099 1138.74 604.958 1131.71 598.326C1115.58 584.013 1105.24 566.907 1096.97 548.406C1093.25 540.027 1089.53 531.3 1085.39 521.875C1079.19 529.904 1073.82 536.536 1068.44 543.518C1056.45 559.227 1044.87 575.285 1031.64 590.296C1020.06 603.562 1004.76 614.034 987.387 621.365C963.402 631.488 940.244 629.045 919.154 615.431C905.094 606.354 895.169 594.486 887.725 580.871C879.868 566.209 873.252 551.198 865.808 536.187C864.154 535.14 863.74 533.744 862.913 531.649Z' fill='white'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg width='940' height='638' viewBox='0 0 940 638' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M862.913 531.649C858.364 536.536 853.816 540.726 850.094 545.613C840.583 557.482 831.485 569.351 821.56 580.871C816.184 587.155 810.395 592.74 804.192 597.976C784.756 614.034 761.184 618.922 734.718 614.733C718.59 612.289 706.598 603.911 697.086 593.089C685.094 579.824 678.477 564.114 671.447 548.754C668.966 543.169 666.485 537.932 663.59 531.3C658.628 536.536 653.665 540.725 649.943 545.263C640.019 557.132 631.334 569.351 620.583 580.871C611.898 590.296 601.974 599.721 590.808 607.401C572.613 620.318 551.522 622.063 530.019 613.336C499.831 601.118 475.846 583.663 464.267 555.736C459.305 544.216 453.929 533.046 448.553 521.526C447.726 519.431 446.072 517.686 444.004 514.544C439.041 521.177 434.493 526.762 431.184 533.045C423.741 546.66 417.124 560.623 410.508 574.238C398.515 599.372 379.079 618.573 350.131 631.489C332.763 639.169 315.395 639.518 297.613 635.328C279.004 630.79 264.53 621.016 254.605 607.401C245.508 594.834 238.478 581.219 231.034 567.954C225.245 557.831 220.695 547.009 215.32 536.885C214.079 534.093 212.012 531.999 209.944 528.508C205.809 534.442 201.673 539.678 197.951 544.915C185.545 562.369 172.726 579.474 154.944 593.438C129.718 612.987 100.357 620.318 66.4474 614.733C56.1091 612.987 47.8384 609.147 43.7031 601.467C37.0865 589.249 30.4702 577.03 26.3349 564.463C16.8236 536.187 12.6879 506.864 8.96614 477.54C1.109 412.61 -1.3722 346.981 0.695467 281.701C1.52253 247.839 4.00394 213.978 8.13927 180.465C12.2746 145.556 24.6805 112.045 45.7707 81.6739C55.282 67.7103 66.8613 55.1431 81.7485 45.0195C112.35 24.0742 145.846 20.5833 181.823 34.5468C212.425 46.4159 234.342 65.6151 247.575 91.4477C254.605 105.411 261.222 119.375 268.252 134.037C270.733 130.895 273.628 127.753 275.695 124.611C284.38 112.044 292.65 99.1283 302.162 86.9102C319.116 65.6158 341.447 50.6046 372.049 44.6701C402.65 38.7356 429.117 44.6702 451.861 63.172C465.921 74.3428 476.259 87.9568 486.184 101.92C491.147 108.553 496.109 115.186 501.899 122.866C503.966 119.724 505.62 117.28 507.274 115.186C516.786 100.175 525.47 84.8155 535.395 70.1537C545.733 54.0957 558.552 39.4341 575.507 27.5651C585.846 20.5833 597.011 14.9979 609.417 11.8561C635.47 5.22337 658.214 10.1099 676.823 26.8662C689.643 38.3861 698.327 51.6517 704.944 66.3134C710.733 79.2297 716.109 92.4951 721.898 106.459C723.552 104.713 725.206 103.666 726.447 101.92C733.477 92.844 739.68 83.7679 747.124 75.0406C756.222 64.2189 765.32 52.6995 776.485 43.2741C800.884 22.3287 831.485 19.5357 863.741 27.2156C880.282 31.0556 892.274 41.179 898.891 54.0953C905.508 67.0116 910.056 80.9752 915.432 94.2405C917.086 98.4296 918.74 102.968 920.808 108.902C924.53 103.666 927.838 99.8265 930.319 95.6374C939.004 82.0229 946.861 68.0592 955.958 54.4447C965.47 39.783 976.635 26.5176 992.349 16.045C1025.43 -5.94765 1064.3 -3.85363 1093.25 21.6299C1096.56 24.7717 1100.28 27.5651 1102.76 31.056C1114.34 47.114 1125.51 63.5212 1137.09 79.9284C1141.64 86.5611 1145.77 93.1938 1150.73 100.874C1155.7 94.5901 1160.24 89.7027 1163.97 84.1173C1175.13 68.4083 1185.88 52.3499 1197.46 36.6409C1218.14 8.71374 1262.8 -0.362397 1291.75 4.52485C1307.46 7.31756 1319.45 14.6484 1328.97 25.4702C1341.37 40.1319 1347.16 57.2376 1350.88 74.6921C1357.91 106.808 1357.09 138.924 1356.67 171.39C1354.6 258.313 1326.9 341.046 1296.3 423.082C1280.58 466.02 1261.15 507.562 1235.51 547.009C1224.34 563.765 1212.35 580.172 1195.39 593.438C1185.06 601.816 1173.48 608.448 1158.18 608.099C1147.84 608.099 1138.74 604.958 1131.71 598.326C1115.58 584.013 1105.24 566.907 1096.97 548.406C1093.25 540.027 1089.53 531.3 1085.39 521.875C1079.19 529.904 1073.82 536.536 1068.44 543.518C1056.45 559.227 1044.87 575.285 1031.64 590.296C1020.06 603.562 1004.76 614.034 987.387 621.365C963.402 631.488 940.244 629.045 919.154 615.431C905.094 606.354 895.169 594.486 887.725 580.871C879.868 566.209 873.252 551.198 865.808 536.187C864.154 535.14 863.74 533.744 862.913 531.649Z' fill='white'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.about__container {
  display: flex;
  gap: 60px;
}

.about__img {
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='895' height='583' viewBox='0 0 895 583' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M569.156 485.344C566.155 489.809 563.155 493.636 560.7 498.101C554.427 508.943 548.426 519.786 541.88 530.31C538.334 536.051 534.516 541.153 530.424 545.937C517.605 560.606 502.057 565.071 484.601 561.244C473.964 559.012 466.054 551.358 459.78 541.472C451.87 529.354 447.506 515.002 442.87 500.97C441.233 495.868 439.596 491.084 437.687 485.025C434.414 489.809 431.141 493.636 428.686 497.781C422.14 508.624 416.412 519.786 409.32 530.31C403.593 538.921 397.047 547.531 389.682 554.547C377.681 566.346 363.77 567.941 349.587 559.968C329.676 548.806 313.856 532.861 306.219 507.349C302.946 496.825 299.4 486.62 295.854 476.096C295.308 474.183 294.217 472.588 292.854 469.718C289.581 475.777 286.58 480.879 284.398 486.62C279.489 499.057 275.125 511.813 270.76 524.251C262.85 547.212 250.031 564.752 230.938 576.552C219.482 583.568 208.026 583.886 196.298 580.059C184.024 575.914 174.477 566.984 167.931 554.547C161.93 543.066 157.294 530.629 152.384 518.51C148.566 509.262 145.565 499.376 142.019 490.128C141.201 487.577 139.837 485.663 138.474 482.474C135.746 487.896 133.018 492.679 130.564 497.463C122.381 513.408 113.925 529.034 102.197 541.791C85.5588 559.649 66.193 566.347 43.827 561.244C37.0081 559.65 31.553 556.141 28.8254 549.126C24.4613 537.964 20.0974 526.802 17.3698 515.321C11.0964 489.49 8.36864 462.702 5.91384 435.914C0.731469 376.597 -0.905069 316.642 0.458712 257.007C1.00422 226.073 2.6409 195.139 5.36846 164.524C8.09602 132.633 16.2786 102.019 30.1892 74.2741C36.4626 61.5179 44.1 50.0372 53.9192 40.7889C74.1032 21.6545 96.1963 18.4655 119.926 31.2217C140.11 42.0646 154.566 59.6038 163.294 83.2029C167.931 95.9591 172.295 108.716 176.932 122.11C178.569 119.24 180.478 116.369 181.842 113.499C187.569 102.018 193.025 90.2194 199.298 79.0577C210.481 59.6044 225.21 45.8911 245.394 40.4697C265.578 35.0483 283.034 40.4699 298.036 57.3719C307.31 67.5769 314.128 80.0138 320.675 92.7701C323.948 98.8293 327.221 104.889 331.039 111.904C332.403 109.034 333.494 106.802 334.585 104.889C340.858 91.1757 346.587 77.1441 353.133 63.75C359.952 49.0803 368.407 35.6864 379.59 24.8436C386.409 18.4655 393.773 13.363 401.956 10.4928C419.14 4.4336 434.141 8.89767 446.415 24.2052C454.871 34.7291 460.599 46.8477 464.963 60.2418C468.781 72.0413 472.327 84.1598 476.146 96.916C477.237 95.3215 478.328 94.3646 479.146 92.7701C483.783 84.4785 487.874 76.1871 492.784 68.2144C498.784 58.3283 504.785 47.8049 512.15 39.1944C528.242 20.06 548.426 17.5085 569.701 24.5244C580.611 28.0324 588.521 37.2805 592.885 49.08C597.25 60.8796 600.25 73.6358 603.796 85.7543C604.887 89.5812 605.978 93.7268 607.341 99.1482C609.796 94.3646 611.978 90.8573 613.615 87.0304C619.343 74.593 624.525 61.8366 630.526 49.3993C636.799 36.0052 644.164 23.8867 654.528 14.3195C676.349 -5.77157 701.988 -3.85859 721.081 19.4216C723.263 22.2917 725.718 24.8436 727.354 28.0327C734.991 42.7024 742.356 57.691 749.993 72.6796C752.993 78.7388 755.721 84.798 758.994 91.814C762.267 86.0737 765.267 81.6088 767.722 76.5063C775.087 62.1555 782.178 47.4855 789.815 33.1347C803.453 7.62219 832.911 -0.669218 852.004 3.79547C862.369 6.34672 870.279 13.0438 876.552 22.9299C884.735 36.3239 888.553 51.9507 891.008 67.896C895.645 97.2354 895.099 126.575 894.827 156.233C893.463 235.641 875.188 311.221 855.004 386.164C844.639 425.389 831.82 463.339 814.909 499.376C807.545 514.683 799.635 529.672 788.452 541.791C781.633 549.444 773.995 555.503 763.904 555.184C757.085 555.184 751.084 552.315 746.447 546.256C735.81 533.181 728.991 517.554 723.536 500.652C721.081 492.998 718.626 485.025 715.898 476.415C711.807 483.75 708.261 489.809 704.716 496.187C696.806 510.538 689.168 525.208 680.44 538.921C672.803 551.039 662.711 560.606 651.255 567.303C635.436 576.551 620.161 574.319 606.251 561.882C596.977 553.59 590.43 542.748 585.521 530.31C580.339 516.916 575.975 503.203 571.065 489.49C569.974 488.533 569.701 487.258 569.156 485.344Z' fill='white'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg width='895' height='583' viewBox='0 0 895 583' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M569.156 485.344C566.155 489.809 563.155 493.636 560.7 498.101C554.427 508.943 548.426 519.786 541.88 530.31C538.334 536.051 534.516 541.153 530.424 545.937C517.605 560.606 502.057 565.071 484.601 561.244C473.964 559.012 466.054 551.358 459.78 541.472C451.87 529.354 447.506 515.002 442.87 500.97C441.233 495.868 439.596 491.084 437.687 485.025C434.414 489.809 431.141 493.636 428.686 497.781C422.14 508.624 416.412 519.786 409.32 530.31C403.593 538.921 397.047 547.531 389.682 554.547C377.681 566.346 363.77 567.941 349.587 559.968C329.676 548.806 313.856 532.861 306.219 507.349C302.946 496.825 299.4 486.62 295.854 476.096C295.308 474.183 294.217 472.588 292.854 469.718C289.581 475.777 286.58 480.879 284.398 486.62C279.489 499.057 275.125 511.813 270.76 524.251C262.85 547.212 250.031 564.752 230.938 576.552C219.482 583.568 208.026 583.886 196.298 580.059C184.024 575.914 174.477 566.984 167.931 554.547C161.93 543.066 157.294 530.629 152.384 518.51C148.566 509.262 145.565 499.376 142.019 490.128C141.201 487.577 139.837 485.663 138.474 482.474C135.746 487.896 133.018 492.679 130.564 497.463C122.381 513.408 113.925 529.034 102.197 541.791C85.5588 559.649 66.193 566.347 43.827 561.244C37.0081 559.65 31.553 556.141 28.8254 549.126C24.4613 537.964 20.0974 526.802 17.3698 515.321C11.0964 489.49 8.36864 462.702 5.91384 435.914C0.731469 376.597 -0.905069 316.642 0.458712 257.007C1.00422 226.073 2.6409 195.139 5.36846 164.524C8.09602 132.633 16.2786 102.019 30.1892 74.2741C36.4626 61.5179 44.1 50.0372 53.9192 40.7889C74.1032 21.6545 96.1963 18.4655 119.926 31.2217C140.11 42.0646 154.566 59.6038 163.294 83.2029C167.931 95.9591 172.295 108.716 176.932 122.11C178.569 119.24 180.478 116.369 181.842 113.499C187.569 102.018 193.025 90.2194 199.298 79.0577C210.481 59.6044 225.21 45.8911 245.394 40.4697C265.578 35.0483 283.034 40.4699 298.036 57.3719C307.31 67.5769 314.128 80.0138 320.675 92.7701C323.948 98.8293 327.221 104.889 331.039 111.904C332.403 109.034 333.494 106.802 334.585 104.889C340.858 91.1757 346.587 77.1441 353.133 63.75C359.952 49.0803 368.407 35.6864 379.59 24.8436C386.409 18.4655 393.773 13.363 401.956 10.4928C419.14 4.4336 434.141 8.89767 446.415 24.2052C454.871 34.7291 460.599 46.8477 464.963 60.2418C468.781 72.0413 472.327 84.1598 476.146 96.916C477.237 95.3215 478.328 94.3646 479.146 92.7701C483.783 84.4785 487.874 76.1871 492.784 68.2144C498.784 58.3283 504.785 47.8049 512.15 39.1944C528.242 20.06 548.426 17.5085 569.701 24.5244C580.611 28.0324 588.521 37.2805 592.885 49.08C597.25 60.8796 600.25 73.6358 603.796 85.7543C604.887 89.5812 605.978 93.7268 607.341 99.1482C609.796 94.3646 611.978 90.8573 613.615 87.0304C619.343 74.593 624.525 61.8366 630.526 49.3993C636.799 36.0052 644.164 23.8867 654.528 14.3195C676.349 -5.77157 701.988 -3.85859 721.081 19.4216C723.263 22.2917 725.718 24.8436 727.354 28.0327C734.991 42.7024 742.356 57.691 749.993 72.6796C752.993 78.7388 755.721 84.798 758.994 91.814C762.267 86.0737 765.267 81.6088 767.722 76.5063C775.087 62.1555 782.178 47.4855 789.815 33.1347C803.453 7.62219 832.911 -0.669218 852.004 3.79547C862.369 6.34672 870.279 13.0438 876.552 22.9299C884.735 36.3239 888.553 51.9507 891.008 67.896C895.645 97.2354 895.099 126.575 894.827 156.233C893.463 235.641 875.188 311.221 855.004 386.164C844.639 425.389 831.82 463.339 814.909 499.376C807.545 514.683 799.635 529.672 788.452 541.791C781.633 549.444 773.995 555.503 763.904 555.184C757.085 555.184 751.084 552.315 746.447 546.256C735.81 533.181 728.991 517.554 723.536 500.652C721.081 492.998 718.626 485.025 715.898 476.415C711.807 483.75 708.261 489.809 704.716 496.187C696.806 510.538 689.168 525.208 680.44 538.921C672.803 551.039 662.711 560.606 651.255 567.303C635.436 576.551 620.161 574.319 606.251 561.882C596.977 553.59 590.43 542.748 585.521 530.31C580.339 516.916 575.975 503.203 571.065 489.49C569.974 488.533 569.701 487.258 569.156 485.344Z' fill='white'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
}

.title,
.title h2 {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  line-height: 110%;
}

.title-three {
  text-transform: uppercase;
  line-height: 1.44;
  letter-spacing: 0.05em;
  font-weight: 500;
}

.title,
.svgContainer {
  display: flex;
  align-items: baseline;
  gap: 30px;
}

.about__text p {
  margin-top: 10px;
}

section.container {
  margin-top: 120px;
}

.slider {
  width: 100%;
  display: flex;
  gap: 30px;
  margin-top: 60px;
}

.slider__photo {
  width: 100px;
  height: 500px;
  border-radius: 5px;
  object-fit: cover;
  cursor: pointer;
  filter: grayscale(80%);
  transition: 0.5s ease-in-out;
}

.slider__photo:hover {
  filter: grayscale(0);
}

.slider__photo.active {
  flex: 1;
  filter: grayscale(0);
  cursor: default;
}

.slider__photo.active:hover {
  filter: none;
}

.title-big {
  position: absolute;
  z-index: -1;
  transform: rotate(-3deg);
  color: #8cd2ff;
  font-size: clamp(136px, 19vw, 320px);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 80px;
  white-space: nowrap;
}

section.videoContainer {
  position: relative;
  margin-top: 300px;
}

.video__list {
  position: absolute;
  transform: translateX(-200%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  transition: opacity 0.3s ease-in-out;
}

.video__list img {
  max-width: 100%;
  aspect-ratio: 16 / 9;
}

.video__list.active {
  position: relative;
  transform: translateX(0);
  transition: transform 0.3s ease-in-out;
}

.video__title {
  margin: 60px 0;
  display: flex;
  justify-content: center;
  border-top: 1px solid #ececec;
  border-bottom: 1px solid #ececec;
  gap: 90px;
}

.video__title .title-three {
  position: relative;
  height: 90px;
  background: transparent;
  border: none;
  transition: 0.5s;
}

.video__title .title-three:not(.active):hover {
  color: #8cd2ff;
  cursor: pointer;
}

.video__title .title-three::before,
.video__title .title-three::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #8cd2ff;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.video__title .title-three::before {
  top: 0;
}

.video__title .title-three::after {
  bottom: 0;
}

.video__title .title-three.active {
  font-weight: 700;
}

.video__title .title-three.active:before,
.video__title .title-three.active::after {
  opacity: 1;
  visibility: visible;
}

.routeslist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.routes__desc {
  margin: 60px 0;
}

.route {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.routes__info {
  position: relative;
  font-size: 20px;
}

.routes__img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.routes__title {
  width: 100%;
  padding: 15px;
  background-color: #8cd2ff;
}

.rouses__about,
.routes__type {
  height: 78%;
  padding: 15px 30px;
  position: absolute;
  top: 0;
  background-color: rgba(238, 248, 255, 0.7);
  line-height: 150%;
  transform: translateX(-100%);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.routes__type {
  width: 100%;
  height: 21%;
  top: unset;
  bottom: 7px;
}

.routes__info:hover .rouses__about,
.routes__info:hover .routes__type {
  transform: translateX(0%);
  opacity: 1;
  visibility: visible;
  transition: transform 0.3s ease-in-out;
}

.routes__info:hover .routes__type {
  transition-delay: 0.1s;
}

.routes__type-bold {
  font-weight: 700;
}

.formaContainer {
  position: relative;
  margin-bottom: 120px;
}

.forma__img {
  position: absolute;
  right: 0;
  top: 60px;
  width: 48%;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='940' height='638' viewBox='0 0 940 638' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M862.913 531.649C858.364 536.536 853.816 540.726 850.094 545.613C840.583 557.482 831.485 569.351 821.56 580.871C816.184 587.155 810.395 592.74 804.192 597.976C784.756 614.034 761.184 618.922 734.718 614.733C718.59 612.289 706.598 603.911 697.086 593.089C685.094 579.824 678.477 564.114 671.447 548.754C668.966 543.169 666.485 537.932 663.59 531.3C658.628 536.536 653.665 540.725 649.943 545.263C640.019 557.132 631.334 569.351 620.583 580.871C611.898 590.296 601.974 599.721 590.808 607.401C572.613 620.318 551.522 622.063 530.019 613.336C499.831 601.118 475.846 583.663 464.267 555.736C459.305 544.216 453.929 533.046 448.553 521.526C447.726 519.431 446.072 517.686 444.004 514.544C439.041 521.177 434.493 526.762 431.184 533.045C423.741 546.66 417.124 560.623 410.508 574.238C398.515 599.372 379.079 618.573 350.131 631.489C332.763 639.169 315.395 639.518 297.613 635.328C279.004 630.79 264.53 621.016 254.605 607.401C245.508 594.834 238.478 581.219 231.034 567.954C225.245 557.831 220.695 547.009 215.32 536.885C214.079 534.093 212.012 531.999 209.944 528.508C205.809 534.442 201.673 539.678 197.951 544.915C185.545 562.369 172.726 579.474 154.944 593.438C129.718 612.987 100.357 620.318 66.4474 614.733C56.1091 612.987 47.8384 609.147 43.7031 601.467C37.0865 589.249 30.4702 577.03 26.3349 564.463C16.8236 536.187 12.6879 506.864 8.96614 477.54C1.109 412.61 -1.3722 346.981 0.695467 281.701C1.52253 247.839 4.00394 213.978 8.13927 180.465C12.2746 145.556 24.6805 112.045 45.7707 81.6739C55.282 67.7103 66.8613 55.1431 81.7485 45.0195C112.35 24.0742 145.846 20.5833 181.823 34.5468C212.425 46.4159 234.342 65.6151 247.575 91.4477C254.605 105.411 261.222 119.375 268.252 134.037C270.733 130.895 273.628 127.753 275.695 124.611C284.38 112.044 292.65 99.1283 302.162 86.9102C319.116 65.6158 341.447 50.6046 372.049 44.6701C402.65 38.7356 429.117 44.6702 451.861 63.172C465.921 74.3428 476.259 87.9568 486.184 101.92C491.147 108.553 496.109 115.186 501.899 122.866C503.966 119.724 505.62 117.28 507.274 115.186C516.786 100.175 525.47 84.8155 535.395 70.1537C545.733 54.0957 558.552 39.4341 575.507 27.5651C585.846 20.5833 597.011 14.9979 609.417 11.8561C635.47 5.22337 658.214 10.1099 676.823 26.8662C689.643 38.3861 698.327 51.6517 704.944 66.3134C710.733 79.2297 716.109 92.4951 721.898 106.459C723.552 104.713 725.206 103.666 726.447 101.92C733.477 92.844 739.68 83.7679 747.124 75.0406C756.222 64.2189 765.32 52.6995 776.485 43.2741C800.884 22.3287 831.485 19.5357 863.741 27.2156C880.282 31.0556 892.274 41.179 898.891 54.0953C905.508 67.0116 910.056 80.9752 915.432 94.2405C917.086 98.4296 918.74 102.968 920.808 108.902C924.53 103.666 927.838 99.8265 930.319 95.6374C939.004 82.0229 946.861 68.0592 955.958 54.4447C965.47 39.783 976.635 26.5176 992.349 16.045C1025.43 -5.94765 1064.3 -3.85363 1093.25 21.6299C1096.56 24.7717 1100.28 27.5651 1102.76 31.056C1114.34 47.114 1125.51 63.5212 1137.09 79.9284C1141.64 86.5611 1145.77 93.1938 1150.73 100.874C1155.7 94.5901 1160.24 89.7027 1163.97 84.1173C1175.13 68.4083 1185.88 52.3499 1197.46 36.6409C1218.14 8.71374 1262.8 -0.362397 1291.75 4.52485C1307.46 7.31756 1319.45 14.6484 1328.97 25.4702C1341.37 40.1319 1347.16 57.2376 1350.88 74.6921C1357.91 106.808 1357.09 138.924 1356.67 171.39C1354.6 258.313 1326.9 341.046 1296.3 423.082C1280.58 466.02 1261.15 507.562 1235.51 547.009C1224.34 563.765 1212.35 580.172 1195.39 593.438C1185.06 601.816 1173.48 608.448 1158.18 608.099C1147.84 608.099 1138.74 604.958 1131.71 598.326C1115.58 584.013 1105.24 566.907 1096.97 548.406C1093.25 540.027 1089.53 531.3 1085.39 521.875C1079.19 529.904 1073.82 536.536 1068.44 543.518C1056.45 559.227 1044.87 575.285 1031.64 590.296C1020.06 603.562 1004.76 614.034 987.387 621.365C963.402 631.488 940.244 629.045 919.154 615.431C905.094 606.354 895.169 594.486 887.725 580.871C879.868 566.209 873.252 551.198 865.808 536.187C864.154 535.14 863.74 533.744 862.913 531.649Z' fill='white'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg width='940' height='638' viewBox='0 0 940 638' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M862.913 531.649C858.364 536.536 853.816 540.726 850.094 545.613C840.583 557.482 831.485 569.351 821.56 580.871C816.184 587.155 810.395 592.74 804.192 597.976C784.756 614.034 761.184 618.922 734.718 614.733C718.59 612.289 706.598 603.911 697.086 593.089C685.094 579.824 678.477 564.114 671.447 548.754C668.966 543.169 666.485 537.932 663.59 531.3C658.628 536.536 653.665 540.725 649.943 545.263C640.019 557.132 631.334 569.351 620.583 580.871C611.898 590.296 601.974 599.721 590.808 607.401C572.613 620.318 551.522 622.063 530.019 613.336C499.831 601.118 475.846 583.663 464.267 555.736C459.305 544.216 453.929 533.046 448.553 521.526C447.726 519.431 446.072 517.686 444.004 514.544C439.041 521.177 434.493 526.762 431.184 533.045C423.741 546.66 417.124 560.623 410.508 574.238C398.515 599.372 379.079 618.573 350.131 631.489C332.763 639.169 315.395 639.518 297.613 635.328C279.004 630.79 264.53 621.016 254.605 607.401C245.508 594.834 238.478 581.219 231.034 567.954C225.245 557.831 220.695 547.009 215.32 536.885C214.079 534.093 212.012 531.999 209.944 528.508C205.809 534.442 201.673 539.678 197.951 544.915C185.545 562.369 172.726 579.474 154.944 593.438C129.718 612.987 100.357 620.318 66.4474 614.733C56.1091 612.987 47.8384 609.147 43.7031 601.467C37.0865 589.249 30.4702 577.03 26.3349 564.463C16.8236 536.187 12.6879 506.864 8.96614 477.54C1.109 412.61 -1.3722 346.981 0.695467 281.701C1.52253 247.839 4.00394 213.978 8.13927 180.465C12.2746 145.556 24.6805 112.045 45.7707 81.6739C55.282 67.7103 66.8613 55.1431 81.7485 45.0195C112.35 24.0742 145.846 20.5833 181.823 34.5468C212.425 46.4159 234.342 65.6151 247.575 91.4477C254.605 105.411 261.222 119.375 268.252 134.037C270.733 130.895 273.628 127.753 275.695 124.611C284.38 112.044 292.65 99.1283 302.162 86.9102C319.116 65.6158 341.447 50.6046 372.049 44.6701C402.65 38.7356 429.117 44.6702 451.861 63.172C465.921 74.3428 476.259 87.9568 486.184 101.92C491.147 108.553 496.109 115.186 501.899 122.866C503.966 119.724 505.62 117.28 507.274 115.186C516.786 100.175 525.47 84.8155 535.395 70.1537C545.733 54.0957 558.552 39.4341 575.507 27.5651C585.846 20.5833 597.011 14.9979 609.417 11.8561C635.47 5.22337 658.214 10.1099 676.823 26.8662C689.643 38.3861 698.327 51.6517 704.944 66.3134C710.733 79.2297 716.109 92.4951 721.898 106.459C723.552 104.713 725.206 103.666 726.447 101.92C733.477 92.844 739.68 83.7679 747.124 75.0406C756.222 64.2189 765.32 52.6995 776.485 43.2741C800.884 22.3287 831.485 19.5357 863.741 27.2156C880.282 31.0556 892.274 41.179 898.891 54.0953C905.508 67.0116 910.056 80.9752 915.432 94.2405C917.086 98.4296 918.74 102.968 920.808 108.902C924.53 103.666 927.838 99.8265 930.319 95.6374C939.004 82.0229 946.861 68.0592 955.958 54.4447C965.47 39.783 976.635 26.5176 992.349 16.045C1025.43 -5.94765 1064.3 -3.85363 1093.25 21.6299C1096.56 24.7717 1100.28 27.5651 1102.76 31.056C1114.34 47.114 1125.51 63.5212 1137.09 79.9284C1141.64 86.5611 1145.77 93.1938 1150.73 100.874C1155.7 94.5901 1160.24 89.7027 1163.97 84.1173C1175.13 68.4083 1185.88 52.3499 1197.46 36.6409C1218.14 8.71374 1262.8 -0.362397 1291.75 4.52485C1307.46 7.31756 1319.45 14.6484 1328.97 25.4702C1341.37 40.1319 1347.16 57.2376 1350.88 74.6921C1357.91 106.808 1357.09 138.924 1356.67 171.39C1354.6 258.313 1326.9 341.046 1296.3 423.082C1280.58 466.02 1261.15 507.562 1235.51 547.009C1224.34 563.765 1212.35 580.172 1195.39 593.438C1185.06 601.816 1173.48 608.448 1158.18 608.099C1147.84 608.099 1138.74 604.958 1131.71 598.326C1115.58 584.013 1105.24 566.907 1096.97 548.406C1093.25 540.027 1089.53 531.3 1085.39 521.875C1079.19 529.904 1073.82 536.536 1068.44 543.518C1056.45 559.227 1044.87 575.285 1031.64 590.296C1020.06 603.562 1004.76 614.034 987.387 621.365C963.402 631.488 940.244 629.045 919.154 615.431C905.094 606.354 895.169 594.486 887.725 580.871C879.868 566.209 873.252 551.198 865.808 536.187C864.154 535.14 863.74 533.744 862.913 531.649Z' fill='white'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
}

.forma {
  min-width: 350px;
  width: 45%;
  margin-top: 60px;
  display: flex;
  gap: 30px;
  flex-direction: column;
}

.forma__field {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  height: 40px;
  padding: 5px 0;
  background-color: transparent;
  outline: 0;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #000;
  font-size: 16px;
  transition: 0.3s;
}
.input::-moz-placeholder {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.input::placeholder {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.input::-webkit-input-placeholder {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}
.input::-ms-input-placeholder {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 40rem #fff inset;
}

.textarea {
  width: 100%;
  height: 100px;
  padding: 5px;
  background-color: transparent;
  border: 1px solid #000;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  resize: none;
}

.forma__error {
  position: absolute;
  bottom: -30px;
  color: rgb(207, 0, 0);
  font-size: 14px;
}

.btn {
  height: 70px;
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='240' height='65' viewBox='0 0 240 65' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M122.172 0.874367C114.894 1.7552 108.45 2.14925 101.064 2.27674C85.736 2.96054 60.1476 8.14119 52.4834 9.93762C41.8834 12.4178 31.7469 14.817 22.7384 18.1896C14.7807 21.1218 6.12758 27.7976 3.29988 34.1256C0.441267 39.5265 -0.887602 39.4222 0.642141 46.5847C2.82086 56.8069 25.3653 63.587 38.7466 64.1086C52.5298 64.6417 65.8802 63.2973 78.6281 64.0738C90.1244 64.7808 106.519 65.2212 118.201 64.8851C131.736 64.0854 141.734 65.3719 158.685 64.6533C175.125 63.9579 178.231 62.4628 193.05 60.0173C204.067 58.2093 226.333 50.3514 231.85 43.7452C239.962 33.6736 245.648 20.7046 230.675 10.8185C226.905 8.32664 223.49 6.77359 218.901 4.8265C201.208 -2.64895 182.125 0.885957 163.104 0.526672C151.685 0.318055 132.633 -0.388925 122.172 0.874367Z' fill='black'/%3e%3c/svg%3e")
    center/contain no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='240' height='65' viewBox='0 0 240 65' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M122.172 0.874367C114.894 1.7552 108.45 2.14925 101.064 2.27674C85.736 2.96054 60.1476 8.14119 52.4834 9.93762C41.8834 12.4178 31.7469 14.817 22.7384 18.1896C14.7807 21.1218 6.12758 27.7976 3.29988 34.1256C0.441267 39.5265 -0.887602 39.4222 0.642141 46.5847C2.82086 56.8069 25.3653 63.587 38.7466 64.1086C52.5298 64.6417 65.8802 63.2973 78.6281 64.0738C90.1244 64.7808 106.519 65.2212 118.201 64.8851C131.736 64.0854 141.734 65.3719 158.685 64.6533C175.125 63.9579 178.231 62.4628 193.05 60.0173C204.067 58.2093 226.333 50.3514 231.85 43.7452C239.962 33.6736 245.648 20.7046 230.675 10.8185C226.905 8.32664 223.49 6.77359 218.901 4.8265C201.208 -2.64895 182.125 0.885957 163.104 0.526672C151.685 0.318055 132.633 -0.388925 122.172 0.874367Z' fill='%238CD2FF'/%3e%3c/svg%3e")
    center/contain no-repeat;
}

.forma__btn {
  margin-top: 30px;
}

.mobileMenu {
  position: absolute;
  top: 35px;
  right: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 0.3s;
}
.mobileMenu.active {
  transform: rotate(45deg);
}
.mobileMenu__line {
  fill: none;
  transition: stroke-dasharray 0.3s, stroke-dashoffset 0.3s;
  stroke: #000;
  stroke-width: 3;
  stroke-linecap: round;
}
.mobileMenu__line-top {
  stroke-dasharray: 40 121;
}
.mobileMenu__line-bottom {
  stroke-dasharray: 40 121;
}
.mobileMenu.active .mobileMenu__line-top,
.mobileMenu.active .mobileMenu__line-bottom {
  stroke-dashoffset: -68px;
}

@media (max-width: 1919px) {
  section,
  section.container {
    margin-top: 90px;
  }
  .mainScreen__container {
    margin-bottom: 90px;
  }
  section.videoContainer {
    margin-top: 240px;
  }
  .footer__svg-left {
    left: -35px;
  }
  .empty {
    height: 135px;
  }
}

@media (max-width: 1550px) {
  .empty {
    height: 20px;
  }
}

@media (max-width: 1367px) {
  .container,
  .footer {
    padding: 0 50px;
  }
  section,
  section.container {
    margin-top: 60px;
  }
  section.videoContainer {
    margin-top: 240px;
  }
  .mainScreen__container {
    margin-bottom: 30px;
  }
  .title {
    flex-wrap: wrap;
    gap: 15px;
  }
  .about__container {
    display: block;
  }
  .about__img {
    float: left;
    margin-right: 30px;
  }
  .routes__desc,
  .slider,
  .video__title {
    margin: 30px 0;
  }
  .slider__photo {
    width: 50px;
  }
  .forma__img {
    display: none;
  }
  .forma {
    width: 70%;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #000;
  }
  .formaContainer {
    margin-bottom: 60px;
  }
  .footer__nav {
    height: auto;
  }
  .route {
    gap: 0;
  }
  .rouses__about,
  .routes__type,
  .routes__title {
    padding: 10px;
    font-size: 16px;
  }
  .empty {
    height: 75px;
  }
  .svgContainer {
    gap: 15px;
  }
}

@media (max-width: 1150px) {
  .empty {
    height: 0;
  }
}

@media (max-width: 992px) {
  .mainScreen__img {
    width: 70%;
  }
  .mainScreen__container {
    margin-top: 45vw;
  }
  .mainScreen__title,
  .mainScreen__desc {
    width: 100%;
  }
  .about__img {
    width: 50%;
    max-height: 400px;
    object-fit: cover;
  }
  #about .title {
    margin-top: 30px;
  }
  .slider {
    flex-direction: column;
  }
  .slider__photo {
    width: 100%;
    height: 50px;
    max-height: 400px;
  }
  .footer__svg-top {
    top: -25px;
  }
  .footer .container {
    flex-direction: column;
  }
  .footer__nav {
    flex-direction: row;
    justify-content: start;
  }
  #stroke-svg {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .container,
  .footer {
    padding: 0 30px;
  }
  .header .link {
    color: #fff;
  }
  .link:before {
    content: none;
  }
  .header {
    position: relative;
  }
  .mobileMenu {
    display: block;
  }
  .nav {
    width: 75vw;
    padding: 15px 30px;
    flex-direction: column;
    gap: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  .nav__item:not(:last-of-type) a {
    padding: 0;
    border: 0;
  }
  .nav.active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0%);
    transition: transform 0.5s;
  }
  section.mainScreen {
    margin-top: 0;
  }
  .about__img {
    width: 100%;
    float: none;
  }
  #about {
    margin-top: 0;
  }
  .video__title .title-three {
    height: 60px;
  }
  .video__title {
    gap: 30px;
  }
  .forma {
    width: 100%;
    margin-top: 30px;
  }
  .title-big {
    left: 20%;
    white-space: unset;
  }
  .footer__svg-left {
    bottom: 7%;
  }
  .footer__svg-center {
    left: unset;
    right: 0;
  }
}
@media (max-width: 455px) {
  .footer__copy {
    flex-direction: column;
  }
  .footer__svg-left {
    bottom: 20%;
  }
  .btn {
    height: 50px;
  }
  .forma {
    padding: 0;
    border: 0;
  }
  .input,
  .textarea {
    width: 93%;
  }
}
